# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
*.list

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

## build files
Release/
Debug/
build/
cmake-build-debug/
CMakeLists_template.txt

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


## Ide Settings ##
.idea/
.settings/
.cproject
.project
.mxproject
.vscode/


.DS_Store
Thumbs.db

*.uvguix.*
*.uvoptx
*.uvprojx
*.crf
*.trail
*.dep
*.log
*.bak

*~
*.swp
*.swo
*.tmp

*.cyclo

